.Rproj.user
categ.for.rds
nodes.square.epsg6707.rotated_1.2065deg.dbf
nodes.square.epsg6707.rotated_1.2065deg.prj
nodes.square.epsg6707.rotated_1.2065deg.shp
nodes.square.epsg6707.rotated_1.2065deg.shx
